@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --bg-main: #f9f8f6;        /* blanc cassé */
  --text-main: #1e1e1e;      /* charbon */
  --text-muted: #6b6b6b;
  --accent: #6f8f82;         /* vert sauge */
}

body {
  background-color: var(--bg-main);
  color: var(--text-main);
}
